.side-bar
  .side-bar__header
    .header__top-items
      .top-items__name masa
      .top-items__icons
        .icons__icon_edit
          = link_to "#", class: "icon-edit" do
            = icon('fas' , 'edit')
        .icons__icon_cog
          = link_to "#", class: "icon-cog" do
            = icon('fas' , 'cog')
  .side-bar__group-lists
    .group-lists__group
      %h1 techcamp
      %p1 まだメッセージがありません
    .group-lists__group
      %h1 techcamp
      %p1 まだメッセージがありません
    .group-lists__group
      %h1 techcamp
      %p1 まだメッセージがありません

