
.chat-main {
  width: calc(100vw - 300px);
  height: 100%;
  &__group-info {
    padding: 0 40px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    height: 100px;
    &__left-box {
      padding: 35px 0px 0px 0px;  
      &__current-group {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member-list {
        color: #999999;
        font-size: 12px;
      }
    }
    &__edit-btn a{
      position: absolute;
      top: 28px;
      right: 35px;
      font-size: 16px;
      border :$skyblue solid 1px;
      height: 40px;
      width: 70px;
      padding: 0 20px 0 20px;
      line-height: 40px;
      display: flex;
      justify-content: flex-end;
      color: $skyblue;
      text-decoration: none;
    }    
  }
}  