* {
  box-sizing: border-box;
}

$skyblue: #38aef0;
$white: white; 

.wrapper {
  display: flex;
}

.chat-main{
  &__group-info {
    background-color: $white;
    width: calc(100vw - 300px);
    height: 100px;
    border-bottom: 1px solid #eeeeee;
  }
  &__chat-history {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 100px - 90px);
    padding: 40px 46px;
    overflow: hidden;
  }
  &__form {
    width: calc(100vw - 300px);
    height: 90px;
    padding: 20px 25px;
  }
}
.form__message-form{
  display: flex;
}

